<section class="page-title">
  <div class="container">
      <div class="row">
          <div class="col col-xs-12">
              <div class="breadcumb-wrap">
                  <h2>Term & Conditions</h2>
                  <ol>
                      <li><a routerLink="/"><i class="fa-solid fa-caret-right"></i> Home</a></li>
                      <li>Terms & Conditions</li>
                  </ol>
              </div>
          </div>
      </div>
  </div>
</section>
<main class="header-offset content-wrapper about-wrapper mt-5">
    <div class="terms-container container">
      <div class="row w-100">
        <div class="col-sm-12 ">
          <section class="terms-title">
            <h1>Nadia Yoshioka Terms and Conditions Overview

            </h1>
            <hr>
          </section>
          
          <div class="terms-body">
           
            <h3>Introduction   </h3>
            <p>
              SmileAgents’ Terms and Conditions outline the guidelines governing your use of their services, website, and any related interactions. By accessing SmileAgents, users agree to comply with these terms, which are designed to protect both users and Nadia Yoshioka while ensuring a positive experience.
              </p>
              <hr>
            <h3>Account Responsibilities</h3>
            <p>
              Users must maintain the security and confidentiality of their Nadia Yoshioka account information. Any activity conducted through a user’s account is the responsibility of the account owner. Unauthorized account access or activity may result in suspension or termination of services.  
            
            </p>    
            <hr>
            <h3> Service Usage and Limitations</h3>
            <p> 
              
              Nadia Yoshioka reserves the right to modify or discontinue any part of its services without notice. Users are expected to use services only for lawful purposes, refraining from any actions that may harm SmileAgents’ technology, reputation, or other users.</p>
            <hr>
            
           
              <!-- FOOTER -->  
  <div class="container terms_footer"> <h3>Can't find what you're looking for? <a href="info@smileagents.com">Email us</a></h3>
  </div>   
    
  </div>   
          
        </div>
      </div>
     </div>
   </main>
  