
    <div class="container">
      <div class="row  mt-5 mb-5">
        <div class="col-md-3 col-lg-3 col-sm-12 col-12">
        <aside class="sidebar">
            <p class="welcome-text">Hello, .Cheddi Jagan12</p>
            <h1 class="account-title">Manage My Account</h1>
            <nav>
                <ul class="nav-menu">
                    <li class="nav-item"><a href="#" class="nav-link">My Profile</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Address Book</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">My Payment Options</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">HiveGy Wallet</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Vouchers</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">My Orders</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">My Returns</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">My Cancellations</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">My Reviews</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">My Wishlist & Followed Stores</a></li>
                </ul>
            </nav>
        </aside>
      </div>
      <div class="col-md-9 col-sm-12 col-12">
        <main class="main-content p-4">
          <div class="row">
            <div class="col-md-12 mb-5">
              <h4 class="main_heading">Manage My Account</h4>
            </div>
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-4">
                  <div class="card">

                    <div class="card-header">
                        <h2 class="card-title">Personal Profile</h2>
                        <svg width="20" height="20" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M14.5 4H4C3.20435 4 2.44129 4.31607 1.87868 4.87868C1.31607 5.44129 1 6.20435 1 7V28C1 28.7956 1.31607 29.5587 1.87868 30.1213C2.44129 30.6839 3.20435 31 4 31H25C25.7956 31 26.5587 30.6839 27.1213 30.1213C27.6839 29.5587 28 28.7956 28 28V17.5" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                          <path d="M25.3582 1.96797C25.978 1.34819 26.8186 1 27.6951 1C28.5716 1 29.4122 1.34819 30.032 1.96797C30.6518 2.58775 31 3.42836 31 4.30486C31 5.18137 30.6518 6.02197 30.032 6.64176L15.2317 21.4421L9 23L10.5579 16.7683L25.3582 1.96797Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                          </svg>

                    </div>
                    <div class="p-3">
                    <div class="profile-info">
                        <p>Cheddi Jagan12</p>
                        <p>CheddiJagan12@gmail.com</p>
                        <a href="#" class="newsletter-link">Subscribe to our Newsletter</a>
                    </div>
                  </div>
                </div>
                </div>
                <div class="col-md-4">
                  <div class="card">

                    <div class="card-header">
                        <h2 class="card-title">Address Book </h2>
                        <svg width="20" height="20" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M14.5 4H4C3.20435 4 2.44129 4.31607 1.87868 4.87868C1.31607 5.44129 1 6.20435 1 7V28C1 28.7956 1.31607 29.5587 1.87868 30.1213C2.44129 30.6839 3.20435 31 4 31H25C25.7956 31 26.5587 30.6839 27.1213 30.1213C27.6839 29.5587 28 28.7956 28 28V17.5" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                          <path d="M25.3582 1.96797C25.978 1.34819 26.8186 1 27.6951 1C28.5716 1 29.4122 1.34819 30.032 1.96797C30.6518 2.58775 31 3.42836 31 4.30486C31 5.18137 30.6518 6.02197 30.032 6.64176L15.2317 21.4421L9 23L10.5579 16.7683L25.3582 1.96797Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                          </svg>

                    </div>
                    <div class="p-3">
                    <div class="profile-info">
                      <span class="defualt_address">DEFAULT DELIVERY ADDRESS</span>
                        <p>Cheddi Jagan12</p>
                        <p>CheddiJagan12@gmail.com</p>
                        <p>(469) 123-0000</p>
                    </div>
                  </div>
                </div>
                </div>
                <div class="col-md-4">
                  <div class="card">

                    <div class="card-header">


                    </div>
                    <div class="p-3">
                    <div class="profile-info">
                        <p>Cheddi Jagan12</p>
                        <p>CheddiJagan12@gmail.com</p>
                        <a href="#" class="newsletter-link">Subscribe to our Newsletter</a>
                    </div>
                  </div>
                </div>
                </div>
              </div>
            </div>
            <div class="col-md-12 mt-5 mb-5">
              <div class="card recent-orders">
                <div class="card-header">
                    <h2 class="card-title">Recent Orders</h2>
                </div>
                <table class="orders-table">
                    <thead>
                        <tr>
                            <th>Order #</th>
                            <th>Placed On</th>
                            <th>Items</th>
                            <th>Total</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>187511387376006</td>
                            <td>2023-12-20</td>
                            <td>
                                <img src="../../../assets/images/ak-900-01-500x500 1 (2).png"   alt="Product" style="border-radius: 4px; height: 30px; width: 30px;">
                            </td>
                            <td>Gyd. 925</td>
                            <td>
                                <button class="manage-btn">Manage</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            </div>
          </div>





        </main>
      </div>
      </div>
    </div>
