     <footer class="footer">
        <div class="footer-container">
            <div class="footer-section">
                <h3 class="text-white">Quick Links</h3>
                <ul class="footer-links">
                    <li><a href="#">Categories</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">Login</a></li>
                    <li><a href="#">Sign Up</a></li>
                </ul>
                <div class="social-icons">
                    <a href="#"><img src="https://raw.githubusercontent.com/simple-icons/simple-icons/develop/icons/facebook.svg" alt="Facebook"></a>
                    <a href="#"><img src="https://raw.githubusercontent.com/simple-icons/simple-icons/develop/icons/twitter.svg" alt="Twitter"></a>
                    <a href="#"><img src="https://raw.githubusercontent.com/simple-icons/simple-icons/develop/icons/instagram.svg" alt="Instagram"></a>
                    <a href="#"><img src="https://raw.githubusercontent.com/simple-icons/simple-icons/develop/icons/youtube.svg" alt="YouTube"></a>
                </div>
            </div>

            <div class="footer-section">
                <h3 class="text-white">Customer Area</h3>
                <ul class="footer-links">
                    <li><a href="#">My Account</a></li>
                    <li><a href="#">Orders</a></li>
                    <li><a href="#">Track Order</a></li>
                    <li><a href="#">Returns</a></li>
                    <li><a href="#">Shipping Policy</a></li>
                </ul>
            </div>

            <div class="footer-section">
                <h3 class="text-white">Contact</h3>
                <ul class="footer-links">
                    <li><a href="#">support@example.com</a></li>
                    <li><a href="#">+1 234 567 8900</a></li>
                    <li><a href="#">123 Street Name, City, Country</a></li>
                </ul>
                <div class="app-buttons">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/3/3c/Download_on_the_App_Store_Badge.svg" alt="Download on App Store">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/7/78/Google_Play_Store_badge_EN.svg" alt="Get it on Google Play">
                </div>
            </div>
        </div>

        <div class="bottom-bar">
            <div class="bottom-links">
                <a href="#">Privacy</a>
                <a href="#">Help</a>
                <a href="#">Terms</a>
                <a href="#">Sitemap</a>
                <a href="#">Stores</a>
            </div>
        </div>
    </footer>
