<section class="page-title">
  <div class="container">
      <div class="row">
          <div class="col col-xs-12">
              <div class="breadcumb-wrap">
                  <h2>Payment Policy</h2>
                  <ol>
                      <li><a routerLink="/"><i class="fa-solid fa-caret-right"></i> Home</a></li>
                      <li>Payment Policy</li>
                  </ol>
              </div>
          </div>
      </div>
  </div>
</section> 
<main class="header-offset content-wrapper about-wrapper mt-5">
    <div class="terms-container container">
      <div class="row w-100">
        <div class="col-sm-12 ">
          <section class="terms-title">
            <h1>Nadia YoshiokaPayment Policy </h1>
            <hr>
          </section>
          
          <div class="terms-body">
           
            <h3>Payment Policy</h3>
            <p>
              Nadia Yoshiokaprovides flexible and secure payment options to suit customer preferences. Customers can choose between using the **Moyasar** payment gateway for online payments or **Cash on Delivery (COD)** for in-person payment upon receiving their orders.
            </p>
            <h4>Moyasar Payment Gateway</h4>
            <p>
              For convenient and secure transactions, Nadia Yoshiokaintegrates the Moyasar payment gateway, allowing customers to complete payments online with confidence. Moyasar supports various payment methods, ensuring flexibility for all users.
            </p>
            <h4>Cash on Delivery (COD)</h4>
            <p>
              Customers who prefer paying at the time of delivery can select the Cash on Delivery option. This option enables customers to inspect their orders upon arrival before making a payment.
            </p>
            <hr>
           
              <!-- FOOTER -->  
  <div class="container terms_footer"> <h3>Can't find what you're looking for? <a href="info@smileagents.com">Email us</a></h3>
  </div>   
    
  </div>   
          
        </div>
      </div>
     </div>
   </main>
  